<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Knee Osteoarthritis</title>
</head>
<body class="bg-gray-100">
  <div class="mx-5 md:mx-96 my-3 md:my-5 font-mono">
    <h1 class="text-4xl text-emerald-600 mb-4 font-bold text-center">Grade Classification Knee Osteoarthritis</h1>
    <p class="text-sm md:text-lg text-center">
      Automated Knee Osteoarthritis Detection with CNN-VGG16 based Kellgren & Lawrence Methode
    </p>
  </div>
</body>
</html>